body {
  background-color: #5B4E77;
  color: #fce03f;
  font-family: 'Patrick Hand SC', regular;
}

.content {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 60px;
}

div {
  margin: 30px 0;
}

.score {
  background-color:
  font-size: 152px;
}

input {
  background-color: transparent;
  color: #fce03f;
  border-radius: 20px;
  font-family: 'Patrick Hand SC', regular;
  padding: 10px;
  width: 100px;
  height: 50px;
  font-size: 40px;
  margin-bottom: 30px;
}

button {
  padding: 15px;
  font-size: 30px;
  background-color: transparent;
  color: #fce03f;
  border-radius: 20px;
  font-family: 'Patrick Hand SC', regular;
}

.victory {
  color: #90FCF9;
}
