body {
  border: 20px solid #bdc3c7;
  margin: 20px auto;
  padding: 20px;
  width: 50%;
  font-family: 'Source Sans Pro', sans-serif;
}

h3 {
  color: #3498db;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: normal;
}
.first-paragraph {
  border-left: 5px solid #bdc3c7;
  padding-left: 5px;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

/*
body border: #bdc3c7;
date: #3498db;
h2: #2c3e50;

font: source sans pro;

date is in all caps

vertical line - border

all aligned

letter spacing for dates

<hr> styles
*/
