body {
  display: flex;
  justify-content: center;
}

button {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid pink;
  box-shadow: 2px 2px 5px #888888;
  background-color: yellow;
  font-family: 'Verdana';
  font-size: 20px;
  margin-top: 25%;
}

.color-1 {
  background-color: #b7e3e4;
}

.color-2 {
  background-color: #FACAC0;
}

.color-3 {
  background-color: #371722;
}

.color-4 {
  background-color: #3a745f;
}

.color-5 {
  background-color: #1B1D1C;
}

.color-6 {
  background-color: #c6d7c7;
}
